.chat-box
  position: relative
  display: flex
  flex-direction: column
  justify-content: flex-end
  background-color: $light-grey
  height: 100%
  flex: 65%
  border-left: 1px solid $grey

  &__header
    position: absolute
    top: 0
    left: 0
    width: 100%
    display: flex
    align-items: center
    background-color: $mid-grey
    padding: 1rem
    &__name
      margin-left: 1rem

  &__send
    padding: 0 1rem

  &__message
    border-radius: 5px
    box-shadow: 2px 2px 4px $grey
    padding: .3rem
    clear: both
    &--receiver
      background-color: white
      float: left
    &--sender
      background-color: $light-green
      float: right