.edit-profile
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: $mid-grey

  &__header
    display: flex
    align-items: center
    background-color: $green
    color: white
    padding-top: 2.5rem

  &__form
    display: flex
    flex-direction: column
    justify-content: center
    margin-top: 2rem
    padding: 1rem

    &__image
      margin-bottom: 2rem
      img
        display: block
        margin: 0 auto !important