.modal-contact
  @include flex($align: center)
  padding: 1rem
  border-radius: 10px
  cursor: pointer
  transition: background-color .3s ease-out
  @media (hover: hover)
    &:hover
      background-color: $light-grey