.sidebar
  position: relative
  flex: 35%
  &__user
    display: flex
    align-items: center
    justify-content: space-between
    padding: 1rem 2rem
    margin-bottom: 1rem
    border-bottom: 1px solid $mid-grey
    &__icon
      cursor: pointer